<div class="content" ng-controller="charactersController">
    <div class="search-container">
        <div class="search">
            <input type="text" ng-model="personagemName" placeholder="Buscar personagem">
            <img src="./assets/search.svg" alt="search" ng-click="searchName(personagemName)">
        </div>
    </div>
    <main class="main">
        <div class="no-result" ng-if="!characters.length">
            Sem resultados.
        </div>
        <a ng-repeat="character in characters | filter:personagemName" id="{{character.id}}" href="#!/details/{{character.id}}">
            <div class="card-character">
                <img class="character-picture" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
                    alt="character">
                <h3 class="character-name">
                    {{character.name}}
                </h3>
            </div>
        </a>
    </main>
</div>