@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

:root {
    --surface-B100: #000000;
    --surface-B90: #111111;
    --surface-B80: #333333;
    --surface-R100: #ff0000;

    --text-A100: #000000;
    --text-A90: #111111;
    --text-A80: #333333;
    --text-B10: #F6F6F5;

    --shadow-B100: #000000;
    --shadow-B90: #111111;
    --shadow-B80: #333333;

}

* {
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: var(--shadow-B100);
    /* min-height: 100vh; */
}

.main {
    display: grid;
    margin-top: 116px;
    padding: 20px;
}

.card-character {
    align-items: center;
    border-radius: 3px;
    border: solid 2px var(--text-B10);
    background-color: var(--shadow-B90);
    cursor: pointer;
    display: flex;
    height: 50px;
    margin: 5px;
    padding: 3px;
}

.card-character:hover {
    background-color: var(--surface-B80);
}

.character-picture {
    border-radius: 3px 3px 0 0;
    height: 100%;
    transform: scale(1.02);
    transition: transform .3s;
    width: 30px;
}


.character-name {
    color: var(--text-B10);
    margin: 0 20px;
}


@media screen and (min-width: 710px) {
    .main {
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
    }
}

@media screen and (min-width: 1035px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.detailsContainer {
    margin: 20px;
}


.cont-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
.cont-img img {
    width:200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;

}

.domics {
    width: 100%;
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 0;
}

.domics-item{
    /* height: 100px; */
    /* width: 100%; */
    border: solid 2px black;
    /* background-color: cadetblue; */
    border: solid 2px  white;
    margin: 5px;
    padding: 10px 5px;
    color: white;

}


@media screen and (min-width: 710px) {
    .domics {
        width: 100%;
        /* background-color: bisque; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cont-img {
        display: flex;
        align-items: center;
        flex-direction: row;
        color: white;
    }
}
@media screen and (min-width: 1035px) {
    .domics {
        width: 100%;
        /* background-color: bisque; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
