.header {
    background-color: var(--shadow-B90);
    border-bottom: solid 1px var(--shadow-B80);
    display: grid;
    place-content: center;
    width: 100%;
    height:50px;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    z-index: 1001;
}
.header  a {
    height:50px;
    display: block;
}
.logo-marvel {
    height:100%;
    margin-right: 20px;
    padding: 5px;
}

.logo-marvel img {
    height: 100%;
    /* height: 50px; */
}

.search-container {
    height: 50px;
    display: grid;
    place-content: center;
    margin-top:50px;
}

.search {
    display: flex;
    align-items: center;
    background-color: var(--surface-B80);
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0;
    width: 100vw;
}

.search input {
    margin-right: 10px;
    background-color: var(--surface-B80);
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    color: var(--text-B10);
}

@media screen and (min-width: 710px) {
 
    .search {
        width: 50vw;
    }
    
}